In [ ]:
# Import Libraries
import pandas as pd
import ipykernel

In [ ]:
# Import CSV file into DataFrame
wd_deaths = pd.read_csv('./Resources/wd-deaths-natural-disasters.csv', sep=';')
wd_deaths.head()

In [ ]:
# Drop first two colunns to make a List of Column Names 
year_df = wd_deaths.drop(wd_deaths.columns[[0, 1]], axis=1)

# Create List of Column Names 
column_names = list(year_df.columns.values)
column_names

In [ ]:
# Use Pandas Melt to combine Columns Names into one "Year" Column 
wd_deaths_melt = pd.melt(wd_deaths,
                 id_vars=['Country Code',
                          'Country Name'],
                  value_vars= column_names ,
                  var_name='Year')
wd_deaths_melt.head()

In [ ]:
# Drop First Two Columns Again 
wd_deaths_melt = wd_deaths_melt.drop(['Country Code', 'Country Name'], axis = 1)

In [ ]:
wd_deaths_melt.head()

In [ ]:
# Groupby Year and use Sum Function to Total year counts 
wd_deaths_melt = wd_deaths_melt.groupby("Year").value.sum().reset_index()
wd_deaths_melt = wd_deaths_melt.rename(columns={'value': 'Deaths'})

wd_deaths_melt.head()

In [ ]:
# Import CSV file into DataFrame
wd_injured = pd.read_csv('./Resources/wd-injured-natural-disasters.csv', sep=';')
wd_injured.head()

In [ ]:
# Drop first two colunns to make a List of Column Names 
year_df = wd_injured.drop(wd_injured.columns[[0, 1]], axis=1)

# Create List of Column Names 
column_names = list(year_df.columns.values)
column_names

In [ ]:
# Use Pandas Melt to combine Columns Names into one "Year" Column 
injured_meltDF = pd.melt(wd_injured,
                 id_vars=['Country Code',
                          'Country Name'],
                  value_vars= column_names ,
                  var_name='Year')
injured_meltDF.head()

In [ ]:
# Drop First Two Columns Again 
injured_meltDF = injured_meltDF.drop(['Country Code', 'Country Name'], axis = 1)

# Groupby Year and use Sum Function to Total year counts 
injured_meltDF = injured_meltDF.groupby("Year").value.sum().reset_index()
injured_meltDF = injured_meltDF.rename(columns={'value': 'Injured'})


injured_meltDF.head()

In [ ]:
wd_homeless = pd.read_csv('./Resources/wd-homeless-natural-disasters.csv', sep=';')
wd_homeless.head()

In [ ]:
year_df = wd_homeless.drop(wd_homeless.columns[[0, 1]], axis=1)
column_names = list(year_df.columns.values)

In [ ]:
homeless_meltDF = pd.melt(wd_homeless,
                 id_vars=['Country Code',
                          'Country Name'],
                  value_vars= column_names ,
                  var_name='Year')
homeless_meltDF.head()

In [ ]:
homeless_meltDF = homeless_meltDF.drop(['Country Code', 'Country Name'], axis = 1)
homeless_meltDF = homeless_meltDF.groupby("Year").value.sum().reset_index()
homeless_meltDF = homeless_meltDF.rename(columns={'value': 'Homeless'})

In [ ]:
homeless_meltDF.head()

In [ ]:
# Import CSV file into DataFrame
wd_damage = pd.read_csv('./Resources/wd-total-damage-natural-disasters.csv', sep=';')
wd_damage.head()

In [ ]:
# Drop first two colunns to make a List of Column Names 
year_df = wd_damage.drop(wd_damage.columns[[0, 1]], axis=1)

# Create List of Column Names 
column_names = list(year_df.columns.values)
column_names

In [ ]:
# Use Pandas Melt to combine Columns Names into one "Year" Column 
damage_meltDF = pd.melt(wd_damage,
                 id_vars=['Country Code',
                          'Country Name'],
                  value_vars= column_names ,
                  var_name='Year')
damage_meltDF.head()

In [ ]:
# Drop First Two Columns Again 
damage_meltDF = damage_meltDF.drop(['Country Code', 'Country Name'], axis = 1)

In [ ]:
# Groupby Year and use Sum Function to Total year counts 
damage_meltDF = damage_meltDF.groupby("Year").value.sum().reset_index()
damage_meltDF = damage_meltDF.rename(columns={'value': 'Damage'})

damage_meltDF.head()

In [ ]:
# Import CSV file into DataFrame
wd_affected = pd.read_csv('./Resources/wd-total-affected-natural-disasters.csv', sep=';')

wd_affected.head()

In [ ]:
# Drop first two colunns to make a List of Column Names 
year_df = wd_affected.drop(wd_affected.columns[[0, 1]], axis=1)

# Create List of Column Names 
column_names = list(year_df.columns.values)
column_names

In [ ]:
# Use Pandas Melt to combine Columns Names into one "Year" Column 
affected_meltDF = pd.melt(wd_affected,
                 id_vars=['Country Code',
                          'Country Name'],
                  value_vars= column_names ,
                  var_name='Year')
affected_meltDF.head()

In [ ]:
# Drop First Two Columns Again 
affected_meltDF = affected_meltDF.drop(['Country Code', 'Country Name'], axis = 1)

# Groupby Year and use Sum Function to Total year counts 
affected_meltDF = affected_meltDF.groupby("Year").value.sum().reset_index()
affected_meltDF = affected_meltDF.rename(columns={'value': 'Affected'})

affected_meltDF.head()

In [ ]:
merged_df = pd.merge(wd_deaths_melt, injured_meltDF , on = "Year")
merged_df = pd.merge(merged_df, damage_meltDF , on = "Year")
merged_df = pd.merge(merged_df, affected_meltDF , on = "Year")
merged_df = pd.merge(merged_df, homeless_meltDF , on = "Year")
merged_df.head()

In [ ]:
merged_df.set_index('Year', inplace = True)
merged_df.index.name = "Year"
merged_df.columns.name = merged_df.index.name
merged_df.index.name = None

In [32]:
merged_df.head()

Year     Deaths  Injured    Damage  Affected  Homeless
1900  1267360.0      0.0   30000.0       0.0       0.0
1901   200018.0      0.0       0.0       0.0       0.0
1902    41475.0      0.0       0.0       0.0       0.0
1903     6506.0     23.0  480000.0      23.0       0.0
1904        0.0      0.0       0.0       0.0       0.0

In [ ]:
# merged_df.loc['1900':'2014']